.samples {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
}

.poster {
    width: 100%;
}

.item {
    position: relative;
}

.item > *:first-child {
    background-color: #00FFA3;
    display: block;
}

.item > span {
    position: absolute;
    color: #00FFA3;
    display: block;
    left: 0.5rem;
    text-shadow:
        -1px  0   0 #342d4e,
        -1px  1px 0 #342d4e,
        -1px -1px 0 #342d4e,
         1px  0   0 #342d4e,
         1px  1px 0 #342d4e,
         1px -1px 0 #342d4e,
         0    1px 0 #342d4e,
         0   -1px 0 #342d4e;
    top: 0.5rem;
}

.style-driven {
    --twic-transition-delay: 5ms;
}