.carousel {
    margin: auto;
    width: 95%;
    height: 300px;
    display: -webkit-inline-box;
    overflow-x: scroll;
    overflow-y: hidden;
}

.movie {
    width: 200px;
    padding-right: 1rem;
}

.native {
    height: 100%;
    width: 100%;
}

